<%
const conf = {
    title : 'top',
    description : 'This is top page',
    style: 'index.css',
    script: 'index.js'
};
%>

<% include _head.ejs %>

<main id="main" class="main" role="main">
<section style="background: #ffda00">section 1</section>
<section style="background: #daff00">section 2</section>
<section style="background: #fa00fd">section 3</section>
<section style="background: #fa0fd0">section 4</section>
<section style="background: #00ffda">section 5</section>
<section style="background: #fda">section 6</section>
<section style="background: #aee">section 7</section>
</main>

<% include _foot.ejs %>
