<%
const conf = {
    title : 'top',
    description : 'This is top page',
    style: 'index.css',
    script: 'index3.js'
};
%>

<% include _head.ejs %>

<main id="main" class="main" role="main">
<section class="videos">
<div id="video-1" class="video"></div>
<div id="video-2" class="video"></div>
<div id="video-3" class="video"></div>
<div id="video-4" class="video"></div>
<div id="video-5" class="video"></div>
<div id="video-6" class="video"></div>
<div id="video-7" class="video"></div>
</section>
<section id="section-1" class="container" style="background: rgba(255, 163, 90, 0.4)"><article>section 1</article></section>
<section id="section-2" class="container" style="background: #f0f0f0; color: #222;"><article>blank</article></section>
<section id="section-3" class="container" style="background: rgba(163, 90, 255, 0.4)"><article>section 3</article></section>
<section id="section-4" class="container" style="background: #f0f0f0; color: #222;"><article>blank</article></section>
<section id="section-5" class="container" style="background: rgba(90, 255, 163, 0.4)"><article>section 5</article></section>
<section id="section-6" class="container" style="background: #f0f0f0; color: #222;"><article>blank</article></section>
<section id="section-7" class="container" style="background: rgba(255, 211, 188, 0.4)"><article>section 7</article></section>
</main>

<% include _foot.ejs %>
