<%
const conf = {
    title : 'top',
    description : 'This is top page',
    style: 'index.css',
    script: 'index.js'
};
%>

<% include _head.ejs %>

<main id="main" class="main" role="main">
<section class="container" style="background: #ffda00"><div id="video-1" class="video"></div><article>section 1</article></section>
<section class="container" style="background: #daff00"><div id="video-2" class="video"></div><article>section 2</article></section>
<section class="container" style="background: #fa00fd"><div id="video-3" class="video"></div><article>section 3</article></section>
<section class="container" style="background: #afd0f0"><div id="video-4" class="video"></div><article>section 4</article></section>
<section class="container" style="background: #00ffda"><div id="video-5" class="video"></div><article>section 5</article></section>
<section class="container" style="background: #fda"><div id="video-6" class="video"></div><article>section 6</article></section>
<section class="container" style="background: #aee"><div id="video-7" class="video"></div><article>section 7</article></section>
</main>

<% include _foot.ejs %>
